*
!.gitignore
benchmarks
classifications
cluster
!config.yaml
data
db
!/docs/
!/docs/*
!/docs/*/*
!/docsrc/
!/docsrc/*
!/docsrc/*/*
!/envs
!/envs/*
!/input
!/input/.gitkeep
!jobscript.sh
logs
plots
!README.md
!/report/
!/report/*
/report/NanoClass-*.zip
!/rules
!/rules/*
!samples.csv
!/schemas
!/schemas/*
!/scripts
!/scripts/*
!Snakefile
stats
