*
!.gitignore
!/rules
!/rules/*
/rules/_*
!/envs
!/envs/*
/envs/_*
/envs/NanoClass-env
!/containers
!/containers/*
/containers/*.simg
/containers/_*
!/schemas
!/schemas/*
!/scripts
!/scripts/*
/scripts/_*
!/report/
!/report/*.rst
!Snakefile
!config.yaml
!samples.csv
!README.md
